.search-input {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  background: var(--black);
  height: 30px;
  padding: 0.4rem 0.8rem;
  border: none;

  transition: outilne 0.2s ease;

  &:focus-within {
    outline: 2px solid var(--primary);
  }

  input {
    color: var(--white);
    border: none;
    background: none;
    width: calc(100% - 2rem);
    outline: none;
    font-size: 1rem;
  }

  button {
    border: none;
    background: none;
    color: var(--white);
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);

      svg {
        color: var(--primary);
        transform: color 0.2s ease-in;
      }
    }
  }

  svg {
    display: block;
    width: 20px;
  }
}
