.search_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin: 0 0 1.2rem;

  h2 {
    color: var(--primary);
    margin: 0;
  }

  .title {
    display: flex;
    transition: scale 0.2s ease;
    gap: 1rem;

    svg {
      fill: var(--primary);
      display: inline-block;
      width: 20px;
    }

    &:hover {
      scale: 1.05;

      a {
        color: var(--primary-light);
      }

      svg {
        fill: var(--primary-light);
      }
    }
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem 0.2rem;
    color: var(--secondary);
    list-style: none;
  }

  li {
    font-size: 0.8rem;
    padding: 0;
  }
}
